.container-lg {
    max-width: 960px;
}
.container-md {
    max-width: 768px;
}
.container-sm {
    max-width: 460px;
}

body { 
    padding: 15px;
    background-color: #fffbea;
    /* text-align: center; */
    color: #333;
}

h1 {
    text-align: center;
}

h3 {
    padding-bottom: 3px;
    border-bottom: 1px solid #333;
}

.row {
  padding: 10px;
}

#monitoredSitesInput {
    flex: 1; 
    margin-right: 10px;
}

.monitoredUrl {
    padding-top: 10px;
}

#optionsButton {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #333;
}

#addButton {
    background-color: #ffdd57;
    border: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

#addButton:hover {
    background-color: #f1c40f;
}

#saveButton {
    background-color: #ffdd57;
    border: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    width: 80px;
}

#saveButton:hover {
    background-color: #f1c40f;
}

#responseContent {
    padding-top: 15px;
    color: #333;
    text-align: center;
    font-size: 0.95rem;
}

/* toggle switch, source: https://www.w3schools.com/howto/howto_css_switch.asp */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
/* hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* radio buttons, source: https://codepen.io/t_afif/pen/zYpLpGX */

input[type=radio] {
  --s: 30px;     /* control the size */
  /* --c: #009688; the active color */
  --c: #2196F3;
  
  height: var(--s);
  aspect-ratio: 1;
  border: calc(var(--s)/8) solid #939393;
  padding: calc(var(--s)/8);
  background: 
     radial-gradient(farthest-side,var(--c) 94%,#0000) 
     50%/0 0 no-repeat content-box;
  border-radius: 50%;
  outline-offset: calc(var(--s)/10);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-size: inherit;
  transition: .3s;
}
input[type=radio]:checked {
  border-color: var(--c);
  background-size: 100% 100%;
}

input[type=radio]:disabled {
  background: 
     linear-gradient(#939393 0 0) 
     50%/100% 20% no-repeat content-box;
  opacity: .5;
  cursor: not-allowed;
}

@media print {
  input[type=radio] {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
    background: none;
  }
}

/* label {
  display:inline-flex;
  align-items:center;
  gap:10px;
  margin:5px 0;
  cursor: pointer;
} */

my-radio {
  margin:0;
  min-height:100vh;
  display:grid;
  place-content:center;
  font-family: system-ui, sans-serif;
  font-size: 40px;
}